-r requirements.txt
-r requirements_doc.txt

# Used in dev.py.
executor >= 21.0
click >=7.0,<9.0

# Unit tests.
pytest ==6.2.4
pytest-cov == 2.12.1
pypng == 0.0.20

# Lint and formatting.
black ==21.6b0
flake8 ==3.9.2
flake8-import-order ==0.18.1
