-r requirements.txt
-r requirements_doc.txt

# Used in dev.py.
executor >= 21.0
click >=7.0,<8.0

# Unit tests.
pytest ==5.4.2
pytest-cov == 2.10.0
pypng == 0.0.20

# Lint and formatting.
black ==19.10b0
flake8 ==3.8.2
flake8-import-order ==0.18.1
